<!doctype html>
<html>
<head>
<!--// <meta http-equiv="refresh" content="20;url=http://localhost:5000/" /> //-->
<meta charset="utf-8">
<title>Calendar - Allen</title>
</head>

<body>
<div class="nameStatus">Allen Stetson:  In the Office Today</div>
<iframe src="https://outlook.office365.com/owa/calendar/83448c71545d436092a4cc37cdfe2b93@wetafx.co.nz/bf0e8f1f199c4aaa99b7f934ed548a057145660769545467377/S-1-8-2741942487-3646031804-687166712-3151867639/reachcalendar.html" style="border:2px solid grey;" width="100%" height="700px"></iframe>
</body>
</html>
