<html>
<head><title>Allen flask_socketio Test</title></head>
<body>
    <h1>Flask Socketio</h1>
    <h2><span id="connected">{{ name }} {{ last }}</span> 
        user is on this page right now.</h2>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
		$("#connected").html(connect['name']);
		$("#connected").html(connect['last']);
    });
</script>
</body>
</html>
